@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */

:root{
  --yellow: #feb60a;
  --red: #ff0062;
  --blue: #00dbf9;
  --violet: #da00f7;
}

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #f1356d;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;

}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;

}

/* loading */
.container > div{
  animation: bounce 1.5s 0.5s linear infinite;
  border-radius: 100%;
  margin: 2vw;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.yellow{
  background-color: var(--yellow);
  width: 1.5vw;
  height: 1.5vw;
}

.red{
  background-color: var(--red);
  animation-delay: 1.2s;
  width: 2vw;
  height: 2vw;
    
}

.blue{
  background-color: var(--blue);
  animation-delay: 1.4s;
  width: 3vw;
  height: 3vw;
  
}

.violet{
  background-color: var(--violet);
  animation-delay: 1.5s;
  width: 3.5vw;
  height: 3.5vw;
}

@keyframes bounce {
  0%, 50%, 100% {
    transform: scale(1);
    filter: blur(0px);
  }
  25% {
    transform: scale(0.6);
    filter: blur(3px);
  }
  75% {
    filter: blur(5px);
    transform: scale(2);
  }
}
